version: '3.5'
services:
  web-app-hub:
    image: sibmaks/web-app-hub:latest
    container_name: web-app-hub
    restart: always
    ports:
      - "9080:9080"
    environment:
      server.port: 9080
      # -------------------------- Data Source -----------------------------
      spring.datasource.url: jdbc:h2:file:./db/web_app_hub;AUTO_SERVER=TRUE;AUTO_SERVER_PORT=9081
      spring.datasource.username: sa
      spring.datasource.password: password
      spring.datasource.driver-class-name: org.h2.Driver
      spring.jpa.properties.hibernate.dialect: org.hibernate.dialect.H2Dialect
      # -------------------------- Data Source -----------------------------

      # -------------------------- Run all in Embedded mode -----------------------------
      service.content.mode: EMBEDDED
      service.error.mode: EMBEDDED
      service.localization.mode: EMBEDDED
      service.session.mode: EMBEDDED
      service.storage.mode: EMBEDDED
      service.async.mode: EMBEDDED
      # -------------------------- Run all in Embedded mode -----------------------------

      # -------------------------- App properties -----------------------------
      web.app.mocks.props.clean-up.count.enabled: true

      web.app.mocks.props.clean-up.obsolete.enabled: true
      web.app.mocks.props.clean-up.obsolete.cron: '*/10 * * * * *'
      # -------------------------- App properties -----------------------------

      JAVA_OPTS: -Xmx1024m
    volumes:
      - db:/home/docuser/db
      - data:/home/docuser/data