name: Publish package to GitHub Packages and Docker Hub

on:
  release:
    types: [ published ]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'oracle'
          cache: 'gradle'
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Extract Version Number
        run: |
          echo "Extracting version from tag..."
          VERSION=${GITHUB_REF##*/}
          VERSION=${VERSION#v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Build package
        run: ./gradlew bootDistZip
      - name: Store distribution packages
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/distributions/*.zip
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Install distributive
        run: ./gradlew installDist
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          file: docker/Dockerfile
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/web-app-hub:${{ env.VERSION }}
            ${{ secrets.DOCKER_HUB_USERNAME }}/web-app-hub:latest